<div class="container">
  <div class="row">
  <div class="col-8 align-items-center ml-auto mt-5">
    <div class="">
      ようこそながのCAKEへ</br>
      このサイトはケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。
    </div>
  </div>
</div>

<div class="row">
<div class="col-8 mt-5">
<h4>新着商品</h4>
<div class="d-flex mt-5">
<% @items.each do |item| %>
  <div class="form-group col-4">
    <%= link_to item_path(item.id), class: "text-dark" do %>
    <%= image_tag item.get_item_image(100,100) %></br>
    <%= item.name %></br>
    ￥<%= item.price %>
    <% end %>
  </div>
<% end %>
</div>

<div class="ml-auto">
<%= link_to "全ての商品を見る>", items_path %>
</div>

</div>
</div>
</div>