<h4>配送先編集</h4>
<%= form_with model: @address, url: address_path do |f| %>
<ul>郵便番号（ハイフンなし）</ul>
<%= f.text_field :postal_code %>
<ul>住所</ul>
<%= f.text_area :address %>
<ul>宛名</ul>
<%= f.text_field :name %>
<%= f.submit "変更内容を保存" %>
<% end %>