<h4>商品一覧(全
<%= @items.count %>
件)</h4>

  <% @items.each do |item| %>
    <%= link_to item_path(item.id) do %>
    <%= image_tag item.get_item_image(100,100) %>
    <% end %><br>
    <%= item.name %><br>
    ￥<%= item.price %>
  <% end %>